.home-constainer {
    position:relative;
    /*height: 100%;*/
}
.home-search {
    position:absolute;
    /*padding-left: 24px;*/
    /*padding-right: 24px;*/
    /*background-color: #aaaaaa;*/
    width: 100%;
    z-index: 1;
    /*border-style: solid;*/
    /*border-color: #ff0000 #0000ff*/

}
.home-carousel {
    position:absolute;
}

.home-constainer .am-search {
    background-color: transparent;
    padding-right: 16px;
    padding-left: 16px;
}
.home-constainer .am-search-input {
    width: 80%;
    background-color:rgba(1,1,1,0.1);
    border-radius: 16px;
    height:28px;
}

.home-constainer .am-search.am-search-start .am-search-input input[type="search"] {
    color: #FFFFFF;
}

.home-constainer .am-search-input .am-search-clear-show {
    display: none;
}

.am-search-cancel {
    color: #bbb;

}

.am-tabs-default-bar-tab-active{
    color : #5555FF
}
/*.am-tabs-default-bar-tab {*/
    /*color : #bbb*/
/*}*/
.am-tabs-default-bar-underline {
    border : 1px #5555FF solid
}
.mytabs .am-tabs-tab-bar-wrap{
    position: relative !important;
}

.info-card .card-head-thumb {
    width: 48px;
    height:48px;
    border-radius:50%
}

.info-card .card-head-extra {
    width: 64px;
    height:64px;
    border-radius:50%
}